<% include partials/header %>
<div class="container main-page">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="header">
                <h1 id="header-container">PLACEHOLDER</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div id="content-container" class="col-lg-12">

        </div>
    </div>
</div>
<% include partials/footer %>
