<div class="row" style="display: flex; flex-wrap: wrap;">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10">
                <h1>Afeka KickStarter Users</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <% params.users.forEach(function(user) { %>
                        <li><%= user.username %></li>
                    <% }); %>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>